@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kosugi&family=Open+Sans:wght@300;400;700&family=Pirata+One&family=Shrikhand&display=swap');


:root {
  --red: #F82D00;
  --mustard: #D9B700;
  --pink: #FFE9E9;
  --mint-green: #9AE4C0;
  --cobalt: #0019F8;
  --pale-green: #E3FFDA;
  --black: #1C1313;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kosugi', monospace, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.splash-main {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 10vh);
}

.splash-title {
  grid-area: 1 / 1 / 5 / 10;
}

.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marquee__content span {
  font-size: 5rem;
  color: var(--red);
}

.splash-img-container {
  grid-area: 3 / 3 / 9 / 9;
  width: 450px;
  height: 450px;
  background-image: url('./assets/img/hand3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.splash-enter-container {
  grid-area: 9 / 5 / 11 / 7;
}

.splash-background {
  position: fixed;
  top: 0;
  background-image: url('./assets/img/bg-squiggle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -99;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - var(--gap)));
  }
}

.marquee__content {
  animation: scroll 20s linear infinite;
}