@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kosugi&family=Open+Sans:wght@300;400;700&family=Pirata+One&family=Shrikhand&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kosugi', monospace, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marquee__content span {
  font-size: 5rem;
}

.splash-background {
  position: fixed;
  top: 0;
  background-image: url('./assets/img/bg-squiggle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -99;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.marquee__content {
  animation: scroll 20s linear infinite;
}